//Christine css style//
@import "top";
$primary-color: #fff;
$secondary-color: #000;
$third-color: #34739f;
$font: 10px;
$font1: 16px;
$font2: 50px;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.container2 {
    width: 997px;
    margin: 0 auto;
}
.container4 {
    width: 80%;
    max-width: 930px;
    min-width: 300px;
    margin: 0 auto;
}
p {
    font-size: $font1;
    padding: 10px 0 10px 0px;
    letter-spacing: 0px;
    line-height: 1.6;
}
h2 {
    font-size: $font2;
}
#firstNav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
        background-image: url(../img/bg_subnav_en.png);
        padding: 5px;
        font-size: 12px;
        letter-spacing: 1px;
	}
	li {
            display: inline-block;
            padding: 5px 5px 5px 40px;
	}
	a {
            display: block;
            text-decoration: none;
            color: $primary-color;
            font-weight: bold;
	}
     }
     
#headerBg {
    position: relative;
    .slider {
        align-items: center;
        width: 100%;
        height: 537px;
        position: relative;
        display: flex;
        justify-content: center;
    h3 {
        position: absolute;
        z-index: 999999999;
        display: flex;
        justify-content: center;
        }
        img.bannerImg {
            width: 100%;
            height: 100%;
        }
    }    
    .slide1 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            animation: fade 8s infinite;
            -webkit-animation: fade 8s infinite;
    }
    .slide2 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            animation: fade2 8s infinite;
            -webkit-animation: fade2 8s infinite;
    }
    .slide3 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat center;
            background-size: cover;
            animation: fade3 8s infinite;
            -webkit-animation: fade3 8s infinite;
    }
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
header {
    .secondNav {
         border-top: #e5e5e5 solid 1px;
         border-bottom: #73a1c2 solid 3px;
        #navi {
            ul {
                display: flex;
                text-align: center;
                justify-content: center;
                padding: 0;
                }
            }
        }
     }
            
.secondNav {
    li {
        letter-spacing: 2px;
        line-height: 1.2;
        padding: 22px 45px 21px 45px;
        text-align: center;
        font-weight: 600;
        border-right: #e5e5e5 solid 1px;
        color: #333333d6;
            &:hover {
                background-color: #73a1c2;
                color: #fff;
		span {
                    color: #fff;
                    }
                a {
                    color: #fff;
		}
		&:first-child {
                    border-left: #e5e5e5 solid 1px;
		}
            }
        }
     a {
        text-decoration: none;
        color: $secondary-color;
    }
    button.nav-toggle {
        display: none;
    }
    .blue {
        color: $third-color;
        letter-spacing: 2px;
        font-size: $font;
    }
}
#services {
    background-color: #99c0b7;
    .responsive-image {
        max-width: 100%;
    }
    .cell {
        border-left: 1px solid #fff;
        &:last-child {
            border-right: 1px solid #fff;
	}
    }
}
#movie {
    .movie {
        background: url(../img/bg_mov.jpg) no-repeat center center;
        background-size: cover;
        width: 50%;
        height: 235px;
        padding-top: 65px;
        overflow: hidden;
        float: left;
        text-align: center;
        position: relative;
        transition: all 0.4s cubic-bezier(0.8, 0, 0, 1) 0s;
        color: #fff;
        font-size: 14px;
    }
     .Btn {
        margin-top: 15px;
        display: inline-block;
        width: 284px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        line-height: 50px;
        outline: none;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: bold;
        position: relative;
        z-index: 2;
        border: 1px solid #fff;
        color: #fff;
        overflow: hidden;
            &:hover {
            color: #555;
            background-color: rgba(255, 255, 255, .8);
            }
    }
    span.right {
        font-size: 19px;
    }
    .recruit {
        background: url(../img/bg_comp.jpg) no-repeat center center;
        background-size: cover;
        width: 50%;
        height: 235px;
        padding-top: 65px;
        overflow: hidden;
        float: left;
        text-align: center;
        position: relative;
        transition: all 0.4s cubic-bezier(0.8, 0, 0, 1) 0s;
        color: #fff;
        font-size: 14px;
    }
}
#news {
    padding: 45px 0 60px;
    span.category-info {
	background: url(../img/bar_news01.png) no-repeat 0 -2px;
	}
	h2 {
            text-align: center;
            color: #34739f;
            padding-top: 300px;
	}
            ul {
                width: 960px;
                margin: 30px auto 0;
                    li {
                        border-bottom: 1px dotted #ccc;
                        padding: 18px 0 16px;
                    }
                }
	p {
            margin: 0 auto;
            width: 284px;
            margin-top: 30px;
            margin: 0 auto;
            width: 284px;
            margin-top: 30px;
	}
	span.date {
            float: left;
            padding: 0 20px 0 10px;
            display: block;
	}
	span.category-info_en {
            background: url(../images/bar_news04.png) no-repeat 0 1px;
	}
	span.more {
            float: right;
            display: block;
            line-height: 1.0;
            padding: 4px 10px 0 0;
	}
}
span.category-info {
    padding-left: 120px;
	a {
            list-style: none;
            text-decoration: none;
            color: #333;
	}
}
.Btn1 {
    color: #fff;
    position: relative;
    z-index: 2;
    border: 1px solid #34739f;
    color: #34739f;
    overflow: hidden;
    margin-top: 15px;
    display: inline-block;
    width: 284px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    outline: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    &:hover {
        background-color: #34739f;
	color: #fff;
     }
}
#footer {
    padding: 60px 0 70px;
    background-color: #eee;
    .copyright {
        padding: 10px;
        display: block;
        width: 960px;
        margin: 0 auto;
        font-size: 12px;
	}
    }
#foot {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px dotted #999;
    h2 {
        float: left;
    }
    p.add {
        float: left;
	font-size: 12px;
	line-height: 1.6;
	padding-left: 25px;
    }
    p.totop {
	float: right;
        line-height: 1.0;
	padding-top: 8px;
    }
}
.clearfix {
	overflow: hidden;
}
img.footerLogo {
    position: relative;
    top: -4px;
}
a.alpha {
    text-decoration: none;
    color: #333;
    padding: 10px;
}
@media (min-width: 320px) and (max-width: 977px) {
    #news {
        ul {
            width: 80%;
            margin: 30px auto 0;
	}
    }
}
@media (max-width: 767px) {
    .logo {
        margin-bottom: -6px;
    }
    #news {
        ul {
            width: 80%;
            margin: 30px auto 0;
            }
            li {
                border-bottom: 1px dotted #ccc;
                padding: 19px 0px 34px 0px;
            }
         span.date {
            padding: 0 20px 7px 10px;
            }
        span.category-info a {
            padding: 0px 3px 57px 10px;
            font-size: 11px;
        }
         h2 {
            padding-top: 600px;
        }
    }
    header {
        #firstNav {
            ul {
                background-image: url(../img/bg_subnav_en.jpg);
            }
               li {
                    width: auto;
                    padding: 5px 13px 5px 30px;
                    }
            }
        .secondNav {
             border-top: none;
            #navi {
                ul {
                    display: block;
                    text-align: center;
                    justify-content: center;
                    padding: 0;
                    }
                li {
                    padding: 15px 20px 15px 20px;
                    border-bottom: #5555552e solid 1px;
                     border-right: none;
                        &:first-child {
                        border-left: none;
                        border-top: #5555552e solid 1px;
                        }
                    }
                }
                .nav-toggle {
                    display: block;
                    background-color: #99c0b7;
                    color: #fff;
                }
            }
            button.nav-toggle {
                outline: none;
                border: none;
                padding: 10px 20px 10px 20px;
            }
        }    
            .Btn {
                width: 141px;
                font-size: 11px;
            }
            p {
                font-size: 14px;
                padding: 20px;
            }
        #foot {
            width: 100%;
            }
        img.footerLogo {
            top: 5px;
        }   
         h2 {
	font-size: 35px;
        } 
        #movie {
            .movie {
                width: 100%;
                font-size: 14px;
            }
            .recruit {
                width: 100%;
                font-size: 14px;
            }
        }  
        .js .menu {
            overflow: hidden;
            max-height: 0;
        }
        .js .menu-active {
            max-height: 100%;
            padding-bottom:1em;
        }
    }
@media (max-width: 1024px) {
    section#navMenu2 {
	padding-left: 0px;
	padding-right: 0px;
    }
}
@media screen and (min-width: 1000px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
	flex-direction: row;
	}
    .cell {
        width: calc(99% / 4);
    }
}
@media (min-width:320px) and (max-width:999px) {
    .grid {
	display: flex;
	flex-direction: row;
    }
    .container2 {
	width: 100%;
	margin: 0 auto;
	}
}
@media (min-width: 320px) and (max-width: 992px) {
    img.footerLogo {
        margin-left: 24px;
    }
    #foot {
        width: 100%;
    }
    }
@media (max-width: 414px) {
    span.category-info {
        padding-left: 500px;
}}
@media (min-width: 450px) {
    span.category-info {
        padding-left: 120px;
        list-style: none;
        text-decoration: none;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
	}
    }
@media (max-width:992px) and (min-width: 768px) {
    .secondNav li {
        padding: 22px 26px 21px 26px;}}

@media (max-width: 767px) and (min-width: 510px) {
 img.footerLogo {
    top: 20px;
}}